.foto {
    border: 0.5px;
    border-radius: 25%;
}

.texto-footer {
    font-size: 2em;
}

footer a {
    color: white;
}

.texto-direccion {
    font-size: 1.5em;
}

.descripcion-resume {
    font-size: 1.3em;
}